os: osx
osx_image: xcode10.2
language: swift

before_script:
  - pod install

script: xcodebuild clean build test -workspace WanAndroid.xcworkspace -scheme "WanAndroid" -sdk iphonesimulator -destination "platform=iOS Simulator,OS=12.2,name=iPhone X" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO
